<div class="flex justify-center">
  <div class="md:border">
    <.live_component
      current_user={@current_user}
      module={InstagrainWeb.PostLive.PostDetailsComponent}
      id={"#post-details-content-#{@post.id}"}
      post={@post}
    />
  </div>
</div>
